%p.large FallowFollow is no more

%p FallowFollow was a short lived experiment in finding an easy way to temporarily turn off (or on) people in your twitter feed. Since it's creation we've found that using features like "mute" in awesome Twitter clients like Tweetbot is way more effective and easy than using a web app. 

%p If you're still interested in checking out FallowFollow you can get the source #{link_to 'here', 'http://github.com/nerded/Fallow'}. If you have other questions get at me on Twitter (#{link_to '@nerded', 'http://twitter.com/nerded'}) or find me on #{link_to 'my website', 'http://nerded.net'}.

%p Thanks!
